<mat-drawer-container class="bbpro-drawer-container" autosize>
  <mat-drawer #drawer class="bbpro-sidenav" mode="side">
    <button style="margin-bottom:20px;width:100%" (click)="showFiller = !showFiller" mat-raised-button>
      Rollup View
    </button>
    <div>
    </div>
    <button style="margin-bottom:20px;width:100%"  routerLink="/home" routerLinkActive="active" (click)="showFiller = !showFiller" mat-raised-button>
      Worklist View
    </button>
    <div>
    </div>
    <button style="margin-bottom:20px;width:100%" (click)="showFiller = !showFiller" mat-raised-button>
      Assign
    </button>
    <div>
    </div>
  </mat-drawer>

  <div class="bbpro-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Home
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
      AAM
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
      BBC
    </button>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
